/*!
 * Copyright (c) 2020-present Théo Goudout. All rights reserved.
 *
 * This work is dual-licensed under Prorietary license and
 * GPL 3.0 (or any later version). You can choose between
 * one of them if you use this work.
 *
 * For details please refer to LICENSE file.
 */
.button-group,
.button-group {
  display: flex;

  // Ensure buttons are always above inputs for more visually pleasing borders.
  // This isn't needed for `.input-group-text` since it shares the same border-color
  // as our inputs.
  .btn {
    position: relative;
    z-index: 2;

    &:focus {
      z-index: 3;
    }
  }

  .btn + .btn,
  .btn + .input-group-text,
  .input-group-text + .input-group-text,
  .input-group-text + .btn {
    margin-left: -$input-border-width;
  }
}

.input-group-lg > .button-group > .input-group-text,
.input-group-lg > .button-group > .input-group-text,
.input-group-lg > .button-group > .btn,
.input-group-lg > .button-group > .btn {
  padding: $input-padding-y-lg $input-padding-x-lg;
  @include font-size($input-font-size-lg);
  line-height: $input-line-height-lg;
  @include border-radius($input-border-radius-lg);
}

.input-group-sm > .button-group > .input-group-text,
.input-group-sm > .button-group > .input-group-text,
.input-group-sm > .button-group > .btn,
.input-group-sm > .button-group > .btn {
  padding: $input-padding-y-sm $input-padding-x-sm;
  @include font-size($input-font-size-sm);
  line-height: $input-line-height-sm;
  @include border-radius($input-border-radius-sm);
}


// Prepend and append rounded corners
//
// These rulesets must come after the sizing ones to properly override sm and lg
// border-radius values when extending. They're more specific than we'd like
// with the `.input-group >` part, but without it, we cannot override the sizing.


.input-group > .button-group:not(:last-child) > .btn,
.input-group > .button-group:not(:last-child) > .input-group-text,
.input-group > .button-group:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group > .button-group:last-child > .input-group-text:not(:last-child) {
  @include border-right-radius(0);
}

.input-group > .button-group:not(:first-child) > .btn,
.input-group > .button-group:not(:first-child) > .input-group-text,
.input-group > .button-group:first-child > .btn:not(:first-child),
.input-group > .button-group:first-child > .input-group-text:not(:first-child) {
  @include border-left-radius(0);
}

.input-group > .button-group .dropdown-toggle {
  padding-left: 5px;
  padding-right: 5px;

  &:after {
    margin-left: unset;
    vertical-align: unset;
  }
}