/*!
 * Copyright (c) 2020-present Théo Goudout. All rights reserved.
 *
 * This work is dual-licensed under Prorietary license and
 * GPL 3.0 (or any later version). You can choose between
 * one of them if you use this work.
 *
 * For details please refer to LICENSE file.
 */
@mixin premium($selector) {
  #{$selector} {
    content: " ";
    background: url('/icons/premium.svg');
    background-size: 21.3px;
    display: inline-block;
    width: 21.3px;
    height: 15px;
    margin-left: 5px;
    margin-bottom: -2px;
  }
}

@mixin premium-tooltip($selector) {
  #{$selector} {
    &:hover {
      &:before {
        content: attr(data-tooltip);
        background-color: $black;
        color: $white;
        position: absolute;
        margin-top: -24px;
        margin-left: -85px;
        padding: 6px;
        border-radius: 4px;
        z-index: 10;
      }

      &:after {
        content: " ";
        width: 10px;
        height: 10px;
        border: solid 5px $black;
        border-color: $black transparent transparent transparent;
        position: absolute;
        margin-top: 4px;
        margin-left: -65px;
      }
    }
  }
}
