/*!
 * Copyright (c) 2020-present Théo Goudout. All rights reserved.
 *
 * This work is dual-licensed under Prorietary license and
 * GPL 3.0 (or any later version). You can choose between
 * one of them if you use this work.
 *
 * For details please refer to LICENSE file.
 */
$select-background-color: rgb(241,243,244);
$select-height:           20px;
$select-line-height:      16px;

.custom-select {
  -webkit-appearance: none;
}
