/*!
 * Copyright (c) 2020-present Théo Goudout. All rights reserved.
 *
 * This work is dual-licensed under Prorietary license and
 * GPL 3.0 (or any later version). You can choose between
 * one of them if you use this work.
 *
 * For details please refer to LICENSE file.
 */
$states: (
  "default",
  "matched",
  "done",
  "warning",
  "info",
  "failed",
  "disabled",
  "external",
);

$holidays: (
  "education-day",
  "data-protection-day",
  "valentines-day",
  "womens-day",
  "christmas",
  "new-year",
);

$statesWithoutHolidays: (
  "default",
  "disabled",
);

@mixin sticker-logo($container, $logo, $size) {
  #{$container} {
    height: $size;
    width: $size;
    margin: -6px -3px 0;

    #{$logo} {
      background-image: url('/icons/logo.svg');

      &, &:before, &:after {
        content: ' ';
        display: inline-block;

        position: absolute;
        top: 0;
        left: 0;
        width: $size;
        height: $size;
      }
    }

    // Holiday overlay
    @each $holiday in $holidays {
      &.holiday-#{$holiday} #{$logo}:before {
        background-image: url('/icons/' + #{$holiday} + '.svg');
      }
    }

    // Hide holidays overlay for some states
    @each $state in $statesWithoutHolidays {
      &.state-#{$state} #{$logo}:before {
        display: none;
      }
    }

    // State overlay
    @each $state in $states {
      &.state-#{$state} #{$logo}:after {
        background-image: url('/icons/' + #{$state} + '.svg');
      }
    }
  }
}
