/*!
 * Copyright (c) 2020-present Théo Goudout. All rights reserved.
 *
 * This work is dual-licensed under Prorietary license and
 * GPL 3.0 (or any later version). You can choose between
 * one of them if you use this work.
 *
 * For details please refer to LICENSE file.
 */
@import "sticker";

@mixin transform($data) {
  transform: #{$data};
  -moz-transform: #{$data};
  -ms-transform: #{$data};
  -o-transform: #{$data};
  -webkit-transform: #{$data};
}

$positionX: (
  "left": "right",
  "right": "left",
);
$positionY: (
  "top": "bottom",
  "bottom": "top",
);


#__ninja_cookie_sticker {
  all: initial;
  background-size: contain;
  position: fixed;
  z-index: 2147483647;
  height: 38px;
  width: 38px;

  .__ninja_cookie_safari & .premium-message {
    display: none;
  }

  .__ninja_cookie_bubbles {
    all: initial;
    position: fixed;
    width: 280px;

    .__ninja_cookie_bubble {
      all: initial;
      display: block;
      background-color: #eee;
      width: 260px;
      border-radius: 20px;
      padding: 10px;
      text-align: center;
      box-shadow: 0 0 6px #B2B2B2;
      -webkit-box-shadow: 0 0 6px #B2B2B2;
      line-height: 1em;

      .close {
        all: initial;
        width: 14px;
        height: 14px;
        float: right;

        &:before, &:after {
          all: initial;
          position: relative;
          left: 1px;
          content: "\00a0";
          background-color: #6c757d;
          display: block;
          width: 12px;
          height: 2px;
        }

        &:before {
          @include transform("rotate(45deg)");
          top: 6px;
        }

        &:after {
          @include transform("rotate(135deg)");
          top: 4px;
        }
      }

      &:hover {
        .close {
          &:before, &:after {
            background-color: #000;
          }
        }
      }

      &:before, &:after {
        all: initial;
        content: "\00a0";
        display: none;
        position: relative;
        height: 10px;
        width: 10px;
        background-color: #eee;
        box-shadow: 2px 2px 2px 0 rgba(178,178,178,.4);
        -webkit-box-shadow: 2px 2px 2px 0 rgba(178,178,178,.4);
      }

      &:before {
        @include transform("rotate(-135deg)");
        margin-bottom: -10px;
      }

      &:after {
        @include transform("rotate(45deg)");
        margin-top: -10px;
      }

      p {
        margin: 0 0 5px 0;
        padding: 0;
        font: 14px arial, sans-serif;
        color: black;
        line-height: 1em;

        b {
          font-weight: bold;
        }

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  .__ninja_cookie_tooltip {
    display: none;
    background-color: #000c;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    white-space: nowrap;

    position: absolute;

    &:before {
      content: attr(data-content);
    }
  }

  &:hover .__ninja_cookie_tooltip {
    display: block;
  }

  .__ninja_cookie_tooltip[data-content=""],
  .__ninja_cookie_tooltip:not([data-content]) {
    display: none !important;
  }

  // Position
  @each $y, $reverseY in $positionY {
    @each $x, $reverseX in $positionX {
      &.position-#{$y}-#{$x} {
        #{$y}: 32px;
        #{$x}: 32px;

        .__ninja_cookie_tooltip {
          bottom: 3px;
          #{$x}: 45px;
        }

        .__ninja_cookie_bubbles {
          #{$y}: 80px;
          #{$x}: 20px;

          .__ninja_cookie_bubble {
            margin-#{$reverseY}: 20px;

            @if $y == "top" {
              &:before {
                display: block;
                bottom: 15px;
              }
            } @else {
              &:after {
                display: block;
                top: 15px;
              }
            }

            @if $x == "left" {
              &:before, &:after {
                left: 20px;
              }
            } @else {
              &:before, &:after {
                left: 240px;
              }
            }
          }
        }
      }
    }
  }
}

@include sticker-logo('#__ninja_cookie_sticker', '.__ninja_cookie_logo', 38px);
